body{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}




.container{
    width: 80%;
    margin: 0 auto;
    

}
section{
    padding: 10px 0;
}
 span{
    color: #ff136f;
} 

/* navigation area style */
.nav-area{
    display: flex;
    align-items: center;
}
.logo img{
    width: 90%;
}
.search-box{
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color:#f1f1f1;
    border-radius: 20px;
    padding: 10px;
    height:20px;
}
.search-box i{
    color: lightgrey;
    font-size: 15px;
}
.search-box input{
    width: 300px;
    height: 30px;
    border: none;
    margin-right: 5px;
    background-color:#f1f1f1;
}
.search-box input:focus{
    outline: none;
}
.nav-menu ul{
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
}
.nav-menu ul li a{
    text-decoration: none;
    color: #707070;
}

/* header section style */

.header-area{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2,50%);
    background-color: #feeae9;
    padding: 30px;
    border-radius: 20px;
}
.header-area .content-section{
    display: flex;
    flex-direction: column;
}
.header-area .content-section h1{
    font-size: 2em;
    margin: 0;

}
.header-area .content-section span{
    font-size: 2em;
}
.my-btn{
    margin-top: 30px;
    margin-bottom: 30px;
    }
    .my-btn a{
    background-color: #FF136F;
    
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    }

.header-area .image-section{
    display: flex;
    justify-content: center;
}
.header-area .image-section img{
    width: 65%;
}


/* Catagories Style */
.catalog {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
  .catalog .item {
    display: flex;
    justify-content: space-around;
  }
  .catalog .item h1 {
    color: white;
  }
  .catalog .item img {
    width: 65px;
  }
  #watch,
  #bag,
  #shoe {
    padding: 15px;
    border-radius: 20px;
  }
  #watch {
    background: linear-gradient(152.07deg, #FF9C35 1.47%, #FFD019 97.17%);
  }
  #bag {
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
  }
  #shoe {
    background: linear-gradient(170.41deg, #4289FF -10.89%, #3F07F8 92.77%);

  }
    
    /* 4th part css style */

.shoe-bg{
    background-color: #f4f4f4;
    margin-top: 100px;
} 
    
    .shoe-title{
        display: flex;
        justify-content: space-between;
      
        
    }
    .shoe-title h1{
        font-size: 2em;
    }
    .shoe-title a{
        color: #FFD019;
        text-decoration: none;
        
    }
    .shoe-section{
        display: grid;
        grid-gap: 5%;
        
        grid-template-columns: repeat(3,1fr);
        padding-left: 90px;
       
    
        
    }
     .product{ 
         background-color: #ffffff; 
         padding: 20px;
         display: flex;
         flex-direction: column;
         align-items: center;
         border-radius: 10px;
    } 
    .product .product-title{
        font-size: 1.2em;
        font-weight: 600;
    }
    .product p{
        text-align: center;
    }
    .shoe-section .product img{
        width: 100%;
    }

    .my-btn-1 a{
        background-color:black;
        
        color: white;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 5px;
    
        }
        .product span{
            color: black;
            font-weight: 600;
            margin-bottom: 20px;
            
        }

        /* 5th section css style */
       
.backpack{
    background-color:#f4f4f4;
    
}
        .backpack-section {
            display: grid;
            grid-gap: 20px;
            grid-template-columns: repeat(3, 1fr);
            
          }
          .backpack-title a{
            color: #FFD019;
            text-decoration: none;
            
          }
         
          .backpack .backpack-title{
            display: flex;
            justify-content: space-between;
           
        }
        .backpack-section .bag {
            background-color: white;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            margin-bottom: 80px;
          } 
          .backpack-section .bag img {
            width: 100%;
          }
          .backpack-section .bag p {
            text-align: center;
            
          }

          .my-btn-1 a{
            background-color:black;
            
            color: white;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 5px;
          }
          .bag-price{
            font-weight: bold;
            margin-bottom: 20px;
          }
                
        /* footer css */
       .footer-area{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 80px;
        margin-top: 50px;
        margin-bottom: 50px;
        background-color: #fff2f1;
        border-radius: 20px;
       }
       .footer-area h1{
        margin: 0;
       }
       .submit{
        display: flex;
        margin-top: 20px;
       }
       .submit input{
        width: 400px;
        margin: 0;
        border: none;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        height: 50px;
        padding: 10px 20px;
        font-size: 20px;

       }
       .submit a{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ff136f;
        padding: 0 20px;
        border-top-right-radius:10px;
        border-bottom-right-radius:10px;
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 20px;
        
       }

       /* Media Quary */
       /* iphone 14pro max */

       @media (max-width:430px) {
        .header-area{
            display: flex;
            flex-direction: column;
        }
        .content-section{
            align-items: center;
        }
        .catalog{
            display: flex;
            flex-direction: column;
        }
        .header-area .image-section img{
            width: 100%;
            margin-top: 50px;
        }
       }





        