body{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}




.container{
    width: 80%;
    margin: 0 auto;
    

}
section{
    padding: 20px 0;
}
 span{
    color: #ff136f;
} 
/* button{
    background-color: #ff136f;
} */

/* navigation area style */
.nav-area{
    display: flex;
    align-items: center;
}
.logo img{
    width: 80%;
}
.search-box{
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color:#f1f1f1;
    border-radius: 20px;
    padding: 10px;
    height:20px;
}
.search-box i{
    color: lightgrey;
    font-size: 15px;
}
.search-box input{
    width: 300px;
    height: 30px;
    border: none;
    margin-right: 5px;
    background-color:#f1f1f1;
}
.search-box input:focus{
    outline: none;
}
.nav-menu ul{
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
}
.nav-menu ul li a{
    text-decoration: none;
    color: #707070;
}

/* header section style */

.header-area{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2,50%);
    background-color: #feeae9;
    padding: 30px;
    border-radius: 20px;
}
.header-area .content-section{
    display: flex;
    flex-direction: column;
}
.header-area .content-section h1{
    font-size: 2em;
    margin: 0;

}
.header-area .content-section span{
    font-size: 2em;
}
.my-btn{
    margin-top: 30px;
    margin-bottom: 30px;
    }
    .my-btn a{
    background-color: #FF136F;
    
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    }

.header-area .image-section{
    display: flex;
    justify-content: center;
}
.header-area .image-section img{
    width: 65%;
}